


*{
    box-sizing: border-box;
}

.slider{    
    padding: 40px 105px 60px 105px;
    position: relative;
    background-color: rgb(16, 145, 250);
    width: 1024px;
    height: 260px;
    margin: 0 auto;
}


.slider__track{
    display: flex;
    position: absolute;
    height: 162px;
    transition: transform 0.6s ease;
}

.slider__monitor{
    overflow: hidden;
    height: 162px;
    width: 810px;
    position: relative;
}

.slider__item{
    width: 240px;
    margin: 0 15px;
    border: 3px solid #fff;
}

.slider__arrow{
    position: absolute;
    top: calc(45% - 10px);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: none;
    background-color: #fff;
    color: rgb(16, 145, 250);
    font-weight: bold;
    font-size: 15px;
    z-index: 2;
}
.slider__arrow:focus, .slider__arrow:active, .dott:focus, .dott:active{
    outline: none;
}

.slider__arrow.next{
    right: 70px;
}
.slider__arrow.prev{
    left: 70px;
}

.dott{
    position: absolute;
    bottom: 20px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 20px;
    border-style: none;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}
.dott.first{
    left:calc(50% - 60px);
}
.dott.second{
    left:calc(50% - 30px);
}
.dott.third{
    left:calc(50% + 0px);
}

.photo{
    display: block;
    width: 100%;
}



@media (max-width: 1024px) {
    .slider{
        width: 750px;
    }

    .slider__monitor{
        width: 540px;
    }
}

@media (max-width: 480px) {
    .slider{
        width: 480px;
    }

    .slider__monitor{
        width: 270px;
    }
}






